@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

.header{
    display: grid;
    width: 100vw;
    height: 50vh;
    padding: 10px;
    position: absolute;
    overflow: hidden;
    color: var(--color-icon);
    font-family: "SF-Pro-Text-Regular";
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat (1,1fr);
    grid-template-areas:
    "logo burger"
}

.header img{
    width: 100vw;
    position: absolute;
    z-index: -2;
    left: 0%;
    bottom: 50%;
}

.circulo{
    background: #00DDA3;
    border-radius: 100%;
    width: 53%;
    height: 26vh;
    position: absolute;
    left: 22%;
    top: 25%;
}

.circulo .cont__circulo{
    display: flex;
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    flex-direction: column;
    justify-content: center;text-align: center;
    color: var(--color-icon);
    font-family: "SF-Pro-Text-Bold";
    font-size: 20px;
}

.circulo h4{
    font-size: x-large;
}

.circulo p{
    font-size: large;
}

.logo{
    grid-area: logo;
    gap: 10px;
}

.burger{
    grid-area: burger;
    justify-content: flex-end;
}

.logo h1{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family:"SF-Pro-Text-Bold" ;
}

.logo, .burger{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo i, .burger i{
    font-size: 24px;
}

/************ CONTENIDO PRINCIPAL ************/

.container{
    display: flex;
    width: 100%;
    height: 50%;
    position: absolute;
    flex-direction: column;
    top: 50%;
}

.balance__total{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 85%;
}

.container .caja__1{
    display: flex;
    border-radius: 100px;
    background: #33404F;
    color: var(--color-icon);
    padding: 8px;
    width: 25%;
    height: 40%;
    justify-content: center;
}

.container .caja__2{
    display: flex;
    border-radius: 100px;
    border: 2px solid #00DDA3;
    color: #00DDA3;
    padding: 8px;
    width: 20%;
    height: 40%;
    justify-content: center;
}

.container .caja__3{
    display: flex;
    border-radius: 100px;
    border: 2px solid #B5C5C3;
    color: #B5C5C3;
    padding: 8px;
    width: 25%;
    height: 40%;
    justify-content: center;
}

.container .caja__img{
    display: flex;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 40%;
    justify-content: center;
}

.parte__baja{
    display: flex;
    height: 34%;
    flex-direction: row;
    position: absolute;
    background: #e3faee;
    top: 66%;
}

.parte__baja .caja__img2{
    display: flex;
    width: 35%;
    height: 85%;
    align-items: flex-end;
    justify-content: center;
}

.parte__baja img{
    object-fit: contain;
    width: 7rem;
    /* border: solid black; */
}

.caja__4{
    display: flex;
    justify-content: flex-start;
    width: 61%;
    height: 85%;
    flex-direction: column;
    justify-content: flex-end;
}

.banner__close i{
    font-size: 24px;
    background: var(--color-primary);
    color: var(--color-icon);
    border-radius: 100%;
    padding: 1%;
}

.banner__close{
    display: flex;
    justify-content: flex-end;
}