@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
@font-face {
    font-family: "SF-Pro-Text-Bold";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf);
}

:root{
    --color-primary: #470519;
    --color-secundary: #33404F;
    --color-letters: #fff;
    --color-fluorescent: rgba(214, 192, 199, 92%);
}
